<h1>Welcome to HQ</h1>
<p>This working page indicates that the server is operational</p>
<p>This is an additional line that should only appear on the quality assurance server</p>


<p><%= "Production: #{Rails.env.production?}" %></p>
<p><%= "Development: #{Rails.env.development?}"%></p>
<p><%= "Test: #{Rails.env.test?}"%></p>

<p>Devise has been added</p>
<p>This is a line added to test that github and the servers are working properly</p>
