<h1>Welcome to HQ</h1>
<p>This working page indicates that the server is operational</p>
<p>This is an additional line that should only appear on the quality assurance server</p>


<p><%= "Production: #{Rails.env.production?}" %></p>
<p><%= "Development: #{Rails.env.development?}"%></p>
